body {
	background-color: lightgray;
}
a {
	font-size: 30px;
	color: red;
	font-family: algerian;
	font-weight: bold;
}
ul {
	background-color: black;
	color: yellow;
}
ol {
	background-color: black;
	color: lightblue;
}
dl {
	background-color: black;
}
dt {
	font-size: 20px;
	color: lightblue;
}
dd {
	color: green;
}