body {
	background-color: black;
	color: lime;
}
a {
	color: cyan;
	font-size: 3vw;
	font-weight: bold;
	font-style: italic;
}
h1,h2,h2,h4 {
	color: red;
	font-weight: bold;
	font-family: algerian;
}
h1 {
	text-align: center;
}