body {
	background-color: black;
	color: lime;
	font-weight: bold;
	font-size: 2vw;
}
a {
	color: red;
	font-family: algerian;
	font-size: 2.5vw;
}
h1,h2,h3,h4 {
	color: red;
	font-family: algerian;
}
.error {
	color: red;
}