#head {
	text-align: center;
	color: #000070;
	font-family: algerian;
	font-style: italic;
	font-weight: bold;
	background-color: #d00000;
	font-size: 4vw;
}
a {
	float: left;
	color: red;
	font-weight: bold;
	font-size: 2vw;
}
p {
	font-size: 2vw;
	border-color: blue;
}
p.dotted {
	border-style: dotted;
}
p.dashed {
	border-style: dashed;
}
p.solid {
	border-style: solid;
}
p.double {
	border-style: double;
}
p.groove {
	border-style: groove;
}
p.ridge {
	border-style: ridge;
}
p.inset {
	border-style: inset;
}
p.outset {
	border-style: outset;
}
p.none {
	border-style: none;
}
p.hidden {
	border-style: hidden;
}
p.mix {
	border-style: dotted dashed solid double;
}